@font-face {
    font-family: "Manrope";
    src: url(/assets/font/Manrope-Regular.ttf);
}

h1 {
    font-size: 36px;
    margin: 0;
}
h2 {
    font-size: 24px;
    margin: 0;
}
h3 {
    font-size: 16px;
    margin: 0;
}
p {
    margin: 0;
}
a {
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0 ;
}
li {
    /* background-color: rgb(10, 10, 10); */
    padding: 5px;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: grey;
}
li:nth-child(odd) {
    border-style: none;
}
ul > li:last-child {
    border-bottom: none;
}

body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    background: black;
    color: white;
    font-family: "Manrope", sans-serif;
}

.container {
    margin-left: 40px;
}
.socialMedia > a {
    padding-left: 6px;
}